html,
body {
  font-size: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
} /* user's default. use rem to set other fonts relative to it */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
} /* make box sizing more predictable! */

body {
    background-color: #000000;
    color: #ffffff;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 71.2px);
}

h2 {
    font-size: 20em;
    padding-bottom: 40px;
    margin: 0;
    user-select: none;
}

h2:hover {
    cursor: pointer;
}

.counterDiv {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#reset {
    background-color: #ffffff;
    color: #000000;
    box-shadow: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 15px;
    width: 200px;
}

footer {
    background-color: #ffffff;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.divFooter {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.divFooterCopyright {
    margin-right: auto;
    padding-right: 50px;
}

.divFooterIcons {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    padding-right: 10px;
}

.divFooterIcons a {
    transition: .5s;
    z-index: 3;
    height: 40px;
}

.divFooterIcons a:hover {
    transform: scale(1.2);
}

@media (max-width: 600px) {
    h2 {
        font-size: 10rem;
    }
}